<p> Hello <%= @user.username %>, </p>

<p> Welcome to DCT Acad Ecomm Portal. <br/>
</p>



<p> Thanks for signing up with us </p>

<%= image_tag("https://www.dctacademy.com/wp-content/uploads/2016/03/dct-final.jpg") %>