
<h1> Hello World </h1>

1+1 = <%= 1+1%> <br/><!-- Presentation Tag -->

<% if @names.empty? %> <!-- names is coming from the controller instance variable. There are usually no variables in the view -->
	No names found
<% else %>
	Actors<br/>
	<ul>
	<%@names.each do|name| %>
		<li> <%= name.capitalize%> </li>
	<%end%>
	</ul>
<%end%>
<%= link_to("GoodByePage",site_goodbye_path)%>
<!--
<a href = "/site/goodbye">GoodBye</a>
-->

